<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="galery.css">
    <title>LEO MESSI</title>
</head>
<body>
    <h1>MI GALERIA</h1>
    <div class="galeria" style="--w: 460px; --h: 400px;">
        <!-- <input type="radio" name="navigation1" id="_1" checked>
        <input type="radio" name="navigation1" id="_2">
        <input type="radio" name="navigation1" id="_3">
        <input type="radio" name="navigation1" id="_4">  -->
        <img src="/leo1.jpg" width="360" height="200" alt="Galeria CSS 1" />
        <img src="/leo2.jpg" width="360" height="200" alt="Galeria CSS 2"  />
        <img src="/leo3.jpg" width="360" height="200" alt="Galeria CSS 3" />
        <img src="/leo4.jpg" width="360" height="200" alt="Galeria CSS 4" />
        
      </div>
      
      <div class="galeria" style="--w: 400px; --h: 400px;">
        <!-- <input type="radio" name="navigation2" id="_1" >
        <input type="radio" name="navigation2" id="_2">
        <input type="radio" name="navigation2" id="_3" checked>
        <input type="radio" name="navigation2" id="_4"> -->
        <img src="/leo5.jpg" width="360" height="200" alt="Galeria CSS 1" />
        <img src="/leo6.jpg" width="360" height="200" alt="Galeria CSS 2"  />
        <img src="/leo7.jpg" width="360" height="200" alt="Galeria CSS 3" />
        <img src="/leo8.jpg" width="360" height="200" alt="Galeria CSS 4" />
      </div>

      <div class="galeria" style="--w: 400px; --h: 400px;">
        <!-- <input type="radio" name="navigation2" id="_1" >
        <input type="radio" name="navigation2" id="_2">
        <input type="radio" name="navigation2" id="_3" checked>
        <input type="radio" name="navigation2" id="_4">  -->
        <img src="/leo9.jpg" width="360" height="200" alt="Galeria CSS 1" />
        <img src="/leo10.jpg" width="360" height="200" alt="Galeria CSS 2"  />
        <img src="/leo11.jpg" width="360" height="200" alt="Galeria CSS 3" />
        <img src="/leo13.jpg" width="360" height="200" alt="Galeria CSS 4" />
      </div>
      

    
    

    

    
</body>
</html>