<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/home.css">
    <title>LEO MESSI</title>
</head>
<body>
    <div class="topnav">
        <!-- <a class="/active">Acerca de mi</a> -->
        <a href="/about">Acerca de mi</a>
        <a href="/works">Trayectoria</a>
        <a href="/galery">Galeria</a>
    </div>
    <!-- <nav>
        <ul>
            <li> <a href="/about">Acerca de mi</a></li>
            <li><a href="/works">Trayectoria</a></li>
            <li> <a href="/galery">Galeria</a></li>
        </ul>
    </nav> -->
    <h1>LEO MESSI</h1>
    <div>
        <h2>Bienvenido a la pagina de LEO MESSI</h2>
        <img src="/leo1.jpg">
    </div>
</body>
</html>