<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/works.css">
    <title>LEO MESSI</title>
</head>
<body>
    <h1>MIS TRABAJOS</h1>
    <p>El argentino Lionel Messi no solo es el mejor jugador del mundo, sino también es un buen empresario. Muy aparte de dedicarse a jugar en el Barcelona de la Liga BBVA, la ‘Pulga’ tiene a la par 6 trabajos más, de las cuales solo uno está ligado al fútbol.

        La primera, y la más conocida, es la fundación que tiene Lionel Messi llamada por su mismo nombre. Parte del dinero que gana es invertido para ayudar a los niños de su fundación, que fue creada en 2007. Aquí se oriente a los pequeños al deporte, estudio y salud.
        
        Lionel Messi también tiene un bar vip que es considerado uno de los lugares más populares de toda Argentina. Además, está ubicado al lado del río Paraná, hecho que lo hace más exótico.
        
        Otra inversión conocida es el club de campo que tiene Lionel Messi ubicado en Paraná, muy cerca de su natal Rosario. Este campo es exclusivo y lleva el nombre de Azahares, local que cuanta con un helipuerto, varias piscinas, 600m de playa y cancha para tenis, fútbol, voley y básquet.
        
        Y por si fuera poco, el delantero argentino también tiene su propia linea de golosinas y vinos. Sus dulces son elaborados por la empresa Marengo y también tiene una vinculación con la bodega San Valentín Bianchi de Mendoza, en donde destaca el vino: ‘Leo, esencia creadora’.
        
        También tiene su propia empresa de imagen llamada: Leo Messi Management, que se encarga de todas sus publicidades. Y por último, el crack del Barcelona también tiene una inmobiliaria ubicada en Rosario.
        
        De esta manera Lionel Messi invierte su dinero, y una gran parte de lo que gana es destinada para su fundación.
    </p>
    <h2> Mi palmares</h2>
    <p>
        Ganador en cinco ocasiones del Balón de Oro, en cuatro de ellas consecutivas (2009-2012), es el máximo goleador de la historia del Barça, ya se encuentra en el top ten' histórico de los artilleros de la Primera División española; es el jugador extranjero con más partidos disputados con la camiseta blaugrana...

Messi comenzó su carrera deportiva en 1995 en el CA Newell's Old Boys, en el que jugó hasta la temporada 2000. Entonces, dejó Rosario y se trasladó a Europa a los 13 años junto con su familia. El Barça, a través de Josep Maria Minguella y Carles Rexach, firmó en una servilleta de papel un seguro de vida futbolístico y le incorporó al equipo Infantil. El club aceptó hacerse cargo de los gastos para que Leo pudiera seguir el tratamiento que necesitaba.

Desde entonces, Messi tuvo una progresión espectacular por las diferentes categorías (Infantil A, Cadete B, Cadete A, Juvenil A, Barça C, Barça B y primer equipo) en un tiempo récord, acorde con su condición de genio. Debutó en el primer equipo el 16 de noviembre de 2003 en un partido amistoso ante el Porto, entonces  entrenado por José Mourinho.

Su debut en un partido oficial llegó un año después, en la temporada 2004 / 2005, y se produjo en un encuentro importante: un derbi de Liga ante el RCD Espanyol disputado en el Estadi Olímpic de Montjuïc el 16 de octubre del 2004 (0-1). Messi se convertía en ese momento, a los 16 años, en el jugador más joven del Barcelona en jugar un partido de la Primera División de la Liga española.

Unos meses después, el 1 de mayo del 2005, establecía una nueva marca: el jugador más joven de la historia blaugrana en marcar en un encuentro de Liga. Llego el primer gol de Messi y el rival fue el Albacete y con solo 17 años, 10 meses y 7 días se convirtió en el jugador blaugrana más joven en hacer un gol. Bojan Krkic superó posteriormente su marca.

Messi fue consolidándose en la primera plantilla al amparo de excelentes jugadores como Ronaldinho o Deco da Souza hasta que, con la llegada de Josep Guardiola al banquillo, y junto a otros canteranos como Xavi Hernández, Carles Puyol o Andrés Iniesta, se convierte en el líder futbolístico del mejor Barça de todos los tiempos.

Si en las campañas 2006-07 y 2007-08, años de transición, se consolida en el primer equipo, a partir de entonces llega su consagración. El Barça consiguió el triplete en la campaña 2008-09 y el 'sextete' en el año 2009.

En la temporada 2009-10 Messi anota 47 goles, 34 en la Liga, lo que le vale sus primeros Pichichi y Bota de Oro, igualando el registro goleador de Ronaldo de la temporada 1996-97. En la temporada 2010-11 suma otra Liga y su tercera Champions.

La campaña 2011-12 es para Messi la de las grandes conquistas individuales. En la Champions anota cinco goles en el 7-1 contra el Bayer Leverkusen y se proclama como el mejor goleador de la historia de la competición al anotar 14 goles en un año y sumar su cuarto galardón de máximo realizador del torneo.

El 27 de octubre de 2012, Messi consiguió su gol oficial número 300 como profesional -el primero de los dos que marcó al Rayo Vallecano en el Rayo-Barça (0-5)- y el 11 de noviembre supera en la 11ª jornada de Liga, con dos goles, la cifra de 75 goles que Pelé logró en un año natural en 1958, en el Mallorca-Barça (2-4).

Messi finalizó el año 2012 con un total de 91 goles oficiales entre el Barcelona y la selección argentina, logrando una nueva marca mundial y aplastando la marca de 85 que Gerd Müller ostentaba desde 1972. El 22 de diciembre sumaba su última diana en el Valladolid-Barça (1-3). Después de haber conseguido su segunda y tercera Botas de Oro en el 2012 y el 2013, Messi recibió en Zúrich por cuarta vez consecutiva el Balón de Oro el 7 de enero del 2013.

En la temporada 2013-14, Leo Messi alcanzó la cifra de 337 goles con el Barcelona, superando el récord de Telmo Zarra como máximo goleador de un club español en competiciones oficiales, y al llegar a los 371 también se convirtió a sus 26 años en el máximo goleador azulgrana por delante de Paulino Alcántara. Una semana después, el 23 de marzo del 2014, con su 'hat trick' en la victoria del Barça al Real Madrid en el Santiago Bernabéu (3-4) superó a Alfredo di Stéfano como mejor realizador en los clásicos, con 21 goles.

En la campaña 2014-15, el Barcelona de Luis Enrique igualó al de Pep Guardiola al conseguir el triplete -Liga, Copa y Champions- siendo el único equipo en la historia que lo ha ganado dos veces. Messi levantó su cuarta Champions League en otra temporada para la historia que culminó con su quinto Balón de Oro el 11 de enero del 2016 en Zúrich.

El 17 de abril del 2016 Messi llegó a los 500 goles oficiales con el Barcelona y Argentina, después de haber igualado el 13 de marzo del 2006 el récord mundial de asistencias de Juan Román Riquelme, con 247 pases de gol entre club y selecciones, en el Barcelona-Getafe (6-0).

La mágica cifra de los 500 tantos volvió a sonar en la Liga Santander 2016 / 2017. Messi alcanzaba los 500 goles con el Barça en un encuentro frente al Sevilla en el que el equipo blaugrana venció por 1 - 2.

Messi es capitán de Argentina. En 2008, en los Juegos Olímpicos de Pekín, ganó la medalla de oro. Ya ha disputado tres Mundiales (2006, 2010 y 2014) y cuatro Copas América (2007, 2011, 2015 y 2016) con ella, siendo finalista en la Copa del Mundo de Brasil 2014 y en tres de las cuatro Copas América: Venezuela 2007, Chile 2015 y Estados Unidos 2016. 

A fines de 2011 fue seleccionado como una de las 32 personalidades más populares del año por la revista TIME y fue candidato a 'Persona del año' (único deportista nominado en dicha lista).
    </p>

    <img class="imagen" src="/leopalmares.jpg">
    

    
</body>
</html>